body{
    margin: 0;
    color:#262626;
    background: #fff;
    font-family: Arial;
}
.header {
	height: 60px;
    box-shadow: 2px 3px 9px #ddd;
    padding: 0px 20px;
   
}
.container
{
    width: 1000px;
    margin: 0 auto;
}
.logo {
	float: left;
	padding: 13px 10px;
}
.menu
{
    float: right;
    

}
.nav
{
    list-style: none;

}
.list-item
{
    display: inline;
}
.list-item a{
    text-decoration: none;
    padding: 16px 8px;
    text-transform: uppercase;
    color:#424242;
    line-height: 30px;
}
.list-item a:hover{
    background: rgb(149, 149, 212);
    color:rgb(242, 245, 247);
}
.row {
	margin-top:20px;
}
.col_third {
    display: inline-block;
    width: 28%;
    padding:32px 15px;
    margin:0;
    font-family: Arial;

}
.featured
{
    background:url("../images/ff.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    padding:120px 0;
    position: relative;
}
.back
{
    background-image: -webkit-linear-gradient(0deg,#62bdfc 0%,#8490ff 100%);
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    opacity: .8;
}
.title
{
    text-align: center;
    margin:0;
    font-size: 40px;
    color: #fff;
}
.center p{
    text-align: center;
}
.center
{
    padding:90px 4px;
}



